.navigation-bar {
  background-color: rgb(169, 74, 241);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.active-link {
  color: red !important;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info div {
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.img-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: normal;
}

.img-bar img {
  height: 200px;
  width: 100%;
}

.avatar-img {
  display: flex;
  height: 195px;
  width: fit-content;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.title {
  line-height: -2px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5%;
  color: white;
}

.title h1 {
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.profile-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(137, 60, 178, 0.468);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px;
  margin-top: -150px;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bio-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.bio-container p {
  width: 80%;
  max-width: 700px;
  padding: 20px;
  line-height: 1.5rem;
}

.project-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-container {
  width: 80%;
  max-width: 700px;
}

.main-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-img img {
  width: 100%;
}

.secondary-img {
  width: 100%;
  display: flex;
}

.secondary-img-link {
  width: 50%;
}

.secondary-img-link img {
  width: 100%;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.myBtn {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  border: 2px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.gitButton {
background-color: blueviolet;
}

.depButton {
background-color: blue;
}

.myBtn:hover {
  background-color: #7d0945;
  border-color: #7d0945;
}


.contact-header {
  display: flex;
  background-color: rgb(92, 11, 158);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 50px;
}
/* Styling for the custom send message button */
.custom-send-message-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
/* Styling for the custom send message button when hovered over */
.custom-send-message-button:hover {
  background-color: #16651a;
  color: white;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

footer a {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

footer a:hover {
  background-color: #096543;
}
